@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.nav{
  background-color: #E4C296;
  border-radius: 10px;
}

.links{
  color: #774b2d;
}

.image-1{
  background-image: url('../public/LOGO-03.png');
}
/* .image-2{
  background-image: url('../public/image-2.png');
} */

.desgin_process{
  display: flex;
  
}